In [1]:
import pandas as pd
import numpy as np

In [31]:
X = pd.read_csv('pom3c.csv', header=None)
X.describe()

,0,1,2,3,4,5,6,7,8
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,0.502052,0.500343,0.502233,0.500613,0.498388,0.503460,0.501677,0.500798,0.498964
std,0.288739,0.289008,0.288780,0.287574,0.287310,0.288126,0.289310,0.286394,0.289228
min,0.000115,0.000039,0.000092,0.000004,0.000083,0.000154,0.000012,0.000036,0.000018
25%,0.252395,0.248900,0.250836,0.251160,0.251063,0.254418,0.249495,0.254573,0.249427
50%,0.505400,0.503692,0.504242,0.500750,0.498456,0.503884,0.504579,0.500731,0.497602
75%,0.752308,0.751601,0.754731,0.748601,0.747658,0.753082,0.752690,0.748475,0.751379
max,0.999901,0.999867,0.999882,0.999978,0.999991,0.999981,0.999952,0.999996,0.999966

In [32]:
y = pd.read_csv('pom3c_eval.csv')
y.describe()

                  0             1             2
count  20000.000000  20000.000000  20000.000000
mean       0.298147      0.791607      0.405682
std        0.140765      0.077076      0.257796
min        0.066343      0.513234      0.000000
25%        0.188626      0.749849      0.176425
50%        0.271496      0.800801      0.413200
75%        0.378670      0.845846      0.612101
max        1.000000      1.000000      1.000000

In [33]:
Xy = pd.concat([X, y], axis=1)
Xy.describe()
Xy.to_csv('pom3c_complete.csv', header=False, index=False)